<div id='nav-menu'>
	<ul class="list-unstyled">
		<li>
			<%= link_to '#home', 'data-toggle': 'tooltip', 
			'data-placement': 'left', title: 'HOME' do %>
				<i class="fas fa-circle"></i>
			<% end %>
		</li>
		<li>
			<%= link_to '#filmes', 'data-toggle': 'tooltip', title: 'FILMES',
			'data-placement': 'left' do %>
				<i class="fas fa-circle"></i>
			<% end %>
		</li>
		<li>
			<%= link_to '#produtora', 'data-toggle': 'tooltip',
			'data-placement': 'left', title: 'PRODUTORA' do %>
				<i class="fas fa-circle"></i>
			<% end %>
		</li>
		<li>
			<%= link_to '#contato', 'data-toggle': 'tooltip',
			'data-placement': 'left', title: 'CONTATO' do %>
				<i class="fas fa-circle"></i>
			<% end %>
		</li>
	</ul>
</div>